<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="scripts/angular.js"></script>
    <script src="scripts/Script06.js"></script>
</head>
<body>
    <div ng-controller="myController">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees">
                    <td>{{ employee.firstName + ' ' + employee.lastName }}</td>
                    <td>{{ employee.gender }}</td>
                    <td>{{ employee.salary }}</td>
                </tr>
            </tbody>
        </table>

        <ul>
            <li ng-repeat="country in countries">
                {{ country.countryName }}
                <ul>
                    <li ng-repeat="city in country.cities">
                        {{ city.cityName }}
                    </li>
                </ul>

            </li>
        </ul>

        <ul>
            <li ng-repeat="country in countries">
                {{ country.countryName }} (Index = {{ $index }})
                <ul>
                    <li ng-repeat="city in country.cities">
                        {{ city.cityName }} (ParentIndex = {{ $parent.$index }}, Index = {{ $index }})
                    </li>
                </ul>

            </li>
        </ul>

        <ul>
            <li ng-repeat="country in countries" ng-init="parentIndex = $index">
                {{ country.countryName }} (Index = {{ $index }})
                <ul>
                    <li ng-repeat="city in country.cities">
                        {{ city.cityName }} (ParentIndex = {{ parentIndex }}, Index = {{ $index }})
                    </li>
                </ul>

            </li>
        </ul>
        
    </div>

</body>
</html>

