body {
}
th{
    text-align:left;
    cursor:pointer;
    padding:5px;
    border:1px solid black;
}

table{
    border-collapse:collapse;
    font-family:Arial;
}

td{
    border:1px solid black;
    padding:5px;
}


